node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.DS_Store
package-lock.json
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/programmers-of-catan-app.iml
.idea/workspace.xml
